venv
.ipynb_checkpoints
__pycache__
.idea

examples/debug.ipynb
examples/debug_params.json
examples/debug_params2.json
examples/Equations.ipynb

examples/Data/data.csv
examples/Data/owid-covid-data.csv
examples/Data/SN_y_tot_V2.0.csv